html {
    background-color: rgb(255, 227, 227);
}
h1 {
    font-family: Arial; 
    font-size:xx-large;
}
.extracto {
    font-size: medium; 
    line-height: 1.6; 
    color: #333;
}

.menu {
    font-size:xx-large;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.pie {
    font-size: medium; 
    line-height: 1.6; 
    color: #e4e4e4;
    text-align: center;
    background-color: #221f1f;
}
p {
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6; 
}
.imagen {
    display: block;
    margin: auto;
}
